[Unit]
Description=Demo Service Using DynamicUser with Systemd-Managed Directories.

[Service]
ExecStart=/usr/local/bin/demo-dynamic-user.sh
DynamicUser=yes

# Ephemeral
RuntimeDirectory=demo-dynamic-user

# Persistent
CacheDirectory=demo-dynamic-user
ConfigurationDirectory=demo-dynamic-user
StateDirectory=demo-dynamic-user

ReadWritePaths=/var/shared

[Install]
WantedBy=multi-user.target
